src/main/resources/auth.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://num.edu.mn/auth"
           xmlns:tns="http://num.edu.mn/auth" 
           elementFormDefault="qualified">

    <xs:element name="RegisterUserRequest">
        <xs:complexType><xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
        </xs:sequence></xs:complexType>
    </xs:element>
    <xs:element name="RegisterUserResponse">
        <xs:complexType><xs:sequence>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence></xs:complexType>
    </xs:element>

    <xs:element name="LoginUserRequest">
        <xs:complexType><xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
        </xs:sequence></xs:complexType>
    </xs:element>
    <xs:element name="LoginUserResponse">
        <xs:complexType><xs:sequence>
            <xs:element name="token" type="xs:string"/>
        </xs:sequence></xs:complexType>
    </xs:element>

    <xs:element name="ValidateTokenRequest">
        <xs:complexType><xs:sequence>
            <xs:element name="token" type="xs:string"/>
        </xs:sequence></xs:complexType>
    </xs:element>
    <xs:element name="ValidateTokenResponse">
        <xs:complexType><xs:sequence>
            <xs:element name="isValid" type="xs:boolean"/>
            <xs:element name="username" type="xs:string"/>
        </xs:sequence></xs:complexType>
    </xs:element>
</xs:schema>